<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>7249253388-gpt99255bejsqnql8a5btslff6os2tv7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7249253388-gpt99255bejsqnql8a5btslff6os2tv7</string>
	<key>API_KEY</key>
	<string>AIzaSyBPQ14QjmebJcy8ccWdxOsnE3NAjoIb5qY</string>
	<key>GCM_SENDER_ID</key>
	<string>7249253388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mobitribe.WhiteBoard</string>
	<key>PROJECT_ID</key>
	<string>whiteboard-46c61</string>
	<key>STORAGE_BUCKET</key>
	<string>whiteboard-46c61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7249253388:ios:ef9ef8825311e74c</string>
	<key>DATABASE_URL</key>
	<string>https://whiteboard-46c61.firebaseio.com</string>
</dict>
</plist>